# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Config and keys
firebase.config.json
serviceAccountKey.json

# Test data
test/ressources/**

# Logs
firestore-debug.log
pubsub-debug.log
