rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /articles/{articleId} {
      allow write: if false;
      allow read: if true;
        
      match /reactions/{reactionId} {
        allow create: if request.auth.uid == reactionId && request.resource.data.keys().hasOnly(["type"]) && request.resource.data.type == 'like';
        allow delete: if request.auth.uid == resource.id;
        allow update: if false;
        allow read: if true;
      }
      
      match /metadata/{metadataId} {
        allow write: if false;
        allow read: if true;
      }
      
      match /comments/{commentId} {
        allow create: if request.auth.uid == request.resource.data.author.id && request.resource.data.keys().hasOnly(["text", "author"]) && request.resource.data.text.matches('(.|\\s)*\\S(.|\\s)*');
        allow delete: if request.auth.uid == resource.data.author.id;
        allow read: if true;
        
        match /reactions/{reactionId} {
          allow create: if request.auth.uid == reactionId && request.resource.data.keys().hasOnly(["type"]) && request.resource.data.type == 'like';
          allow delete: if request.auth.uid == resource.id;
          allow update: if false;
          allow read: if true;
        }
      }
    }

    match /users/{userId} {
      allow create: if request.auth.uid == userId && request.resource.data.alias.matches('^@[a-z0-9_]*$') && request.resource.data.keys().hasOnly(["alias"]);
      allow read: if true;
      allow update, delete: if false;
    }
  }
}