rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /articles/{articleId} {
      allow write: if false;
      allow read: if true;
      
      match /metadata/{metadataId} {
        allow write: if false;
        allow read: if true;
      }
      
      match /comments/{commentId} {
        allow create: if request.auth != null && request.resource.data.keys().hasOnly(["text"]);
        allow delete: if request.auth.uid == resource.data.author.id;
        allow read: if true;
        
        match /reactions/{reactionId} {
          allow create: if request.auth != null && request.resource.data.keys().hasOnly(["type"]) && request.resource.data.type == 'like';
          allow delete: if request.auth.uid == resource.id;
          allow read: if true;
        }
      }
    }
  }
}